#logo {
  height: 3.5rem;
  border-bottom: 1px solid #cec4b7;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  .logo {
  align-self: center;
    width: 226.8rpx;
    height: 103.2rpx;
  }
}
